<p id="notice"><%= notice %></p>

<p>
  <strong>Phone number:</strong>
  <%= @phone.phone_number %>
</p>

<p>
  <strong>Phone carrier:</strong>
  <%= @phone.phone_carrier %>
</p>

<% if @phone.notes.present? %>
  <p>
    <strong>Notes:</strong>
    <%= @phone.notes %>
  </p>
<% end %>

<%= link_to "clear messages", clear_messages_phone_path(@phone), method: 'put' %>

<table>
  <% @phone.messages.each do |message| %>
    <tr>
      <td><%= message.created_at %></td>
      <% if message.source == "local" %>
        <td> --&gt; </td>
      <% else %>
        <td> &lt;-- </td>
      <% end %>
      <td><%= message.content %></td>
    </tr>
  <% end %>
</table>

<p>Enter message to send</p>

<%= form_for [@phone, @message] do |f| %>
  <div>
    <%= f.text_field :content %>
  </div>
  <div>
    <%= check_box_tag 'use_mms' %>
    <%= label_tag "use MMS" %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_phone_path(@phone) %> |
<%= link_to 'Back', phones_path %>
